# Dependencies
node_modules/

# Nuxt
.nuxt/
.output/
.data/
.netlify/

# IDE
.idea/
.vscode/
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Build
dist/
